html {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.button {
    background-color: rgb(0, 255, 0);
    height: 50px;
    width: 150px;
    font-weight: bold;
    position: absolute;
    top: 85%;
    right: 80px;
}

.deck_info {
    opacity: 0;
}

.enemy_info {
    opacity: 0;
}

.player_move {
    opacity: 0;
}

.deck {
    position: absolute;
    height: 165px;
    width: 115px;
    top: 40%;
    margin: 8px;
    z-index: 2;
    border: 1px solid black;
}

.trump_card {
    position: absolute;
    height: 165px;
    width: 115px;
    top: 40%;
    left: 36px;
    margin: 8px;
    z-index: 1;
    border: 1px solid black;
}

.deck_counter {
    position: absolute;
    width: 115px;
    top: 35%;
    left: 36px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 8px;
    z-index: 1;
}

#zatemnenie_menu {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 3;
}

#zatemnenie_winner {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 3;
}

#okno_menu {
    width: 150px;
    height: 130px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
    z-index: 3;
}

#okno_winner {
    width: 150px;
    height: 130px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
    z-index: 3;
}

#zatemnenie_menu:target {
    display: block;
}

#zatemnenie_winner:target {
    display: block;
}

.text_rules {
    display: none;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #000000;
    position: absolute;
    top: 25%;
    left: 10%;
    margin: auto;
    background-color: whitesmoke;
    z-index: 3;
}

.button_rules {
    width: 130px;
    display: block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor: pointer;
    z-index: 3;
}

.reset {
    width: 130px;
    display: block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor: pointer;
    z-index: 3;
}

.close {
    width: 130px;
    display: block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor: pointer;
    z-index: 3;
}

.button_rules:hover {
    background: #e6e6ff;
}

.reset:hover {
    background: #e6e6ff;
}

.close:hover {
    background: #e6e6ff;
} 

.player_card_1 {
    position: absolute;
    height: 165px;
    width: 115px;
    top: 75%;
    right: 70%;
    opacity: 0;
    z-index: 1;
    border: 1px solid black;
}

.player_card_2 {
    position: absolute;
    height: 165px;
    width: 115px;
    top: 75%;
    right: 60%;
    opacity: 0;
    z-index: 1;
    border: 1px solid black;
}

.player_card_3 {
    position: absolute;
    height: 165px;
    width: 115px;
    top: 75%;
    right: 50%;
    opacity: 0;
    z-index: 1;
    border: 1px solid black;
}

.player_card_4 {
    position: absolute;
    height: 165px;
    width: 115px;
    top: 75%;
    right: 40%;
    opacity: 0;
    z-index: 1;
    border: 1px solid black;
}

.player_card_5 {
    position: absolute;
    height: 165px;
    width: 115px;
    top: 75%;
    right: 30%;
    opacity: 0;
    z-index: 1;
    border: 1px solid black;
}

.player_card_6 {
    position: absolute;
    height: 165px;
    width: 115px;
    top: 75%;
    right: 20%;
    opacity: 0;
    z-index: 1;
    border: 1px solid black;
}

.enemy_card_1 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 70%;
    opacity: 0;
    border: 1px solid black;
}

.enemy_card_2 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 60%;
    opacity: 0;
    border: 1px solid black;
}

.enemy_card_3 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 50%;
    opacity: 0;
    border: 1px solid black;
}

.enemy_card_4 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 40%;
    opacity: 0;
    border: 1px solid black;
}

.enemy_card_5 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 30%;
    opacity: 0;
    border: 1px solid black;
}

.enemy_card_6 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 20%;
    opacity: 0;
    border: 1px solid black;
}

.field_card_1 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 70%;
    top: 40%;
    opacity: 0;
    z-index: 2;
    border: 1px solid black;
}

.field_card_2 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 60%;
    top: 40%;
    opacity: 0;
    z-index: 2;
    border: 1px solid black;
}

.field_card_3 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 50%;
    top: 40%;
    opacity: 0;
    z-index: 2;
    border: 1px solid black;
}

.field_card_4 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 40%;
    top: 40%;
    opacity: 0;
    z-index: 2;
    border: 1px solid black;
}

.field_card_5 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 30%;
    top: 40%;
    opacity: 0;
    z-index: 2;
    border: 1px solid black;
}

.field_card_6 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 20%;
    top: 40%;
    opacity: 0;
    z-index: 2;
    border: 1px solid black;
}

.field_card_11 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 72%;
    top: 45%;
    opacity: 0;
    z-index: 1;
    border: 1px solid black;
}

.field_card_21 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 62%;
    top: 45%;
    opacity: 0;
    z-index: 1;
    border: 1px solid black;
}

.field_card_31 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 52%;
    top: 45%;
    opacity: 0;
    z-index: 1;
    border: 1px solid black;
}

.field_card_41 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 42%;
    top: 45%;
    opacity: 0;
    z-index: 1;
    border: 1px solid black;
}

.field_card_51 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 32%;
    top: 45%;
    opacity: 0;
    z-index: 1;
    border: 1px solid black;
}

.field_card_61 {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 22%;
    top: 45%;
    opacity: 0;
    z-index: 1;
    border: 1px solid black;
}

.bito_card {
    position: absolute;
    height: 165px;
    width: 115px;
    right: 8px;
    top: 40%;
    opacity: 0;
    border: 1px solid black;
}

.who_move {
    position: absolute;
    right: 50px;
    font-size: 40px;
    font-weight: bold;
    color: blue;
}